.directions__grid {
margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;
}

@media (max-width: 1200px) {
.directions__grid {
grid-template-columns: repeat(3, minmax(0, 1fr));
}
}

@media (max-width: 900px) {
.directions__grid {
grid-template-columns: 1fr;
}
}
