@import url('./__body/events-modal__body.css');
@import url('./__content/events-modal__content.css');
@import url('./__header/events-modal__header.css');
@import url('./__title/events-modal__title.css');

.events-modal {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: var(--spacing-md);
}
