@import url('./_available/project-status_available.css');
@import url('./_favorite/project-status_favorite.css');
@import url('./_registered/project-status_registered.css');

.project-status {
display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}
