.portfolio-modal-work__meta-label {
font-family: var(--font-body);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--color-dark);
    opacity: 0.6;
    font-weight: 500;
}
